@import "tailwindcss";

@theme {
  --color-primary: #0054A6; /* SAL Blue */
  --color-primary-hover: #003D7A;
  --color-secondary: #2BB673; /* SAL Green */
  --color-success: #2BB673;
  --color-danger: #f43f5e;
  --color-warning: #f59e0b;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

.glass-panel {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl rounded-2xl;
}
